body{
    background-color: gainsboro;
}

.title{
    width: 100%;
    height: 100%;
    font-size: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}

/* .carre{       div
    background-color: #f0e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.carregando{    gif
    height: 250px;
    width: 250px;

    border-radius: 50%;
    object-fit : cover ;
} */

.topo{
    background-color: #fff;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0pc 30px;
    position: relative;
    box-shadow: 1px 1px 7px 1px black  ;
}

.logo{
    height: 60%;
}

.lista{
    background-color: #e9e4e4;
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    
    
}

.final{
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    height:20% ;
    box-shadow: 0px 2px 6px 1px black  ;
}

input{
    height: 20px;
    width: 230px;
    margin-left: 13px;
    border-radius: 25px;
    object-fit: cover;
    border: solid transparent;
    box-shadow: 1px 1px 7px 1px black  ;
}

button{
    /* height: 20px; */
    margin-right: 33px;
    /* border-radius: 50%; */
    margin: none;
    border: none;
    background-color: transparent;
    width: 50px;
    cursor:pointer; 
}



.barrademensagem{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0px;
    margin-bottom: 17px;
}

.entrei{
    background-color: #bdb8b8; 
}


.todos{
    background-color: #fff;
}

.private-message{
    background-color: pink;
}

strong,
span,
.mensagemtxt{
    margin-left: 33px;
}

strong  {
    font-size: 17px;
    font-weight: 700;
}

.enviar{
    cursor:pointer; 
    font-size: 33px ;
    
}
.people{
    
    font-size: 403%;
}

h3{
    font-family: 'Roboto Condensed', sans-serif;
}

h1{
    font-size: 22px;
    font-weight: bold;
}

.togle{
    background-color: rgb(241, 74, 74);
    height:100vh;
    width: 259px;
    position: absolute;
    right: 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.fundo-preto{
    background-color: rgba(0, 0, 0, 0.315);
    position: absolute;
    height: 100vh;
    width: 100%;
}

.opcoes{
    margin-top: 20px;
}

.escondido{
    z-index: -1;
}

.check{
    color: green;
}